/* 

Developed by Shivam Arora

on 28 Oct,2025
*/

.navbarButton {
  color: #000; /* Default text color */
  background-color: transparent; /* Transparent background */
  border-radius: 5px;
  padding: 5px 15px;
  transition: all 0.3s ease; /* Smooth hover transition */
  font-size: 1rem;
}

/* Hover effect */
.navbarButton:hover {
  color: #ff4d00; /* Text color changes on hover */
  transform: scale(1.05); /* Slightly bigger on hover */
  cursor: pointer; /* Pointer cursor */
}

.navbar-Heading {
  font-weight: 700;
  font-size: 1.5rem; /* default for desktop */
  transition: font-size 0.3s ease;
}

/* Medium screens (tablets) */
@media (max-width: 900px) {
  .navbar-Heading {
    font-size: 1.25rem;
  }
  .navbarButton {
    font-size: 0.8rem !important;
  }
}

/* Small screens (phones) */
@media (max-width: 600px) {
  .navbar-Heading {
    font-size: 1rem !important ;
  }
  .navbarButton {
    font-size: 0.7rem !important;
    padding: 2px 10px;
  }
}
